body {
    padding-top: 50px;
    padding-bottom: 0;
    font-family: "Arial";
}

.clearfix {
    clear: both;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    padding: 15px 0;
}

footer {
    /*background-color: #cecece;*/
    padding: 20px 0;
    width: 100%;
    /*position: absolute;
    bottom: 0;
    left: 0;*/
}

footer p {
    text-align: center;
}

.container h1 {
    color: #fff;
    display: inline;
    line-height: 40px;
    vertical-align: middle;
}

.container img {
    width: 40px;
    height: 40px;
}

.right-sidebar {
    width: 10%;
    float: right;
    position: fixed;
    margin-left: 90px;
}

.right-sidebar ul li {
    font-size: 24px;
    font-weight: bold;
}

.main-body {
    width: 70%;
}

.content-col {
    display: inline-block;
}

.article {
    border: 1px solid black;
    padding: 20px;
    border-radius: 4px;
}

.article-name {
    font-size: 22px;
    font-weight: bold;
}

.publish-date {
    font-size: 12px;
    opacity: 0.7;
}

.article-content p {
    font-size: 18px;
    text-align: justify;
}