@model Blog.WebUI.ViewModels.ArticleViewModels.ArticleViewModel

<div class="article">
    <div class="article-header">
        <p class="article-name">@Html.ActionLink(Model.Name, "Details", new { id = Model.Id })</p>
        <p class="publish-date">@Model.PublishDate.ToString("d")</p>
    </div>
    <div class="article-content">
        <p>@Model.Text</p>
    </div>
</div>