@model Blog.WebUI.ViewModels.VoteViewModels.VoteResultsViewModel

<div class="vote-results">
    <p class="vote-header">What technology to devote the following articles to?</p>
    @foreach (var answer in Model.Results)
    {
        <p><strong>@answer.Answer</strong>: @answer.AnsweredPercent%</p>
    }
</div>