@model Blog.WebUI.ViewModels.VoteViewModels.VoteResultsViewModel

<div>
    <p>What technology to devote the following articles to?</p>
    @foreach (var answer in Model.Results)
    {
        <p>@answer.Answer: @answer.AnsweredPercent</p>
    }
</div>