@model IList<Blog.WebUI.ViewModels.ArticleViewModels.ArticleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Articles</h2>

<p>
    @Html.ActionLink("Create Article", "CreateArticle") | 
    @Html.ActionLink("Create Tags", "CreateTags")
</p>

@if (Model.Any())
{

    foreach (var article in Model)
    {
        @Html.Partial("_ArticlePartial", article)
    }
}
else
{
    <h3>There are no articles yet</h3>
}