.comments {
    width: 100%;
    padding: 15px;
}

.wrapper {
    font-family: "Arial";
}

.wrapper > p {
    font-weight: bold;
    font-size: 18px;
}

.form-container {
    
}

.comment-author {
    font-size: 20px;
    font-weight: bold;
}

.comment-content p {
    font-size: 18px;
    text-align: justify;
}
