.vote-header {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}

.vote-form-container, .vote-results {
    margin-top: 30px;
    margin-left: 20px;
}

.result-line {
    width: 100%;
    height: 4px;
    background-color: #F4A460;
    margin-bottom: 15px;
}

.percent-line {
    background-color: #0000FF;
    height: 4px;
    width: 0;
}