@model Blog.ViewModels.QuestionaryViewModel

@{
    ViewBag.Title = "Questionary";
}

@if (!Model.UserHasFilled)
{
    @Html.Partial("_FormPartial", Model.FillingQuestionary)
}
else
{
    <h1>Bravo!</h1>
}