@model Blog.WebUI.ViewModels.CommentViewModels.CommentsListViewModel

<div class="wrapper">
    <div class="form-container">
        @Html.Partial("_CreateCommentPartial", Model.CommentToAdd)
    </div>
    <hr />
    <p>@Model.CommentsCount comment(s)</p>
    <hr />
    <div class="comments">
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_CommentPartial", comment)
            <hr />
        }
    </div>
</div>

<link href="~/Content/comments.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

